{{ define "main" }}
    {{ $paginator := .Paginate .Data.Pages }}
    
    <main class="posts">
        <div>
            <div>
                {{ $count := len .Data.Pages }}
                {{ if (eq $count 1) }}
                    <span class="fc-green">{{ $count }}</span> post tagged with:
                {{ else }}
                    <span class="fc-green">{{ $count }}</span> posts tagged with:
                {{ end }}
            </div>
        </div>
        <h1 class="post-headline mt-0">{{ .Title }}</h1>

        {{ if .Content }}
            <div class="content">{{ .Content }}</div>
        {{ end }}

        {{ range $paginator.Pages.GroupByDate "2006" }}
            <div class="posts-group">
                <div class="post-year">{{ .Key }}</div>

                <ul class="posts-list">
                    {{ range .Pages }}

                        {{ if isset .Params "rssclub" }}
                        <!-- do nothing -->
                        {{ else }}
                            <li class="post-item">
                                <a href="{{.Permalink}}">
                                    <span class="post-title">{{.Title}}</span>
                                    <span class="post-day">
                                        {{ if .Site.Params.dateformShort }}
                                            {{ .Date.Format .Site.Params.dateformShort }}
                                        {{ else }}
                                            {{ .Date.Format "Jan 2"}}
                                        {{ end }}
                                    </span>
                                </a>
                            </li>
                        {{ end }}
                        
                    {{ end }}
                </ul>
            </div>
        {{ end }}
    {{ partial "pagination-list.html" . }}
    </main>
{{ end }}
